.container {
  height: 100%;
  justify-content: center;
  align-items: center;
}

.navbar {
  padding: 30px;
}

.nav-bar-align-end {
  text-align: end;
}

.password-incorrect{
  color: red;
}

.ordered-text {
  text-align: center;
  font-size: 45px;
  color: red;
  font-weight: bold;
}

.ordered-button {
  text-align: center;
  margin-top: 10px;
}

.search-bar-margin {
  margin-top: 35px;
  margin-bottom: 35px;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  width: 100%;
}

.width-quantity{
  width: 7%;
}

.Auth-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100%;
}

.Auth-form {
  width: 420px;
  padding-top: 30px;
  padding-bottom: 20px;
  border-radius: 8px;
  background-color: white;
}

.nav-bar-mb {
  margin-bottom: 5%;
}

.ft-nb-item {
  color: red;
  font-weight: bold;
  font-size: initial;
}

.Auth-form-content {
  padding-left: 12%;
  padding-right: 12%;
}

.margin-title {
  margin-top: 70px;
  margin-bottom: 60px;
}

.submit-margin {
  margin-top: 24px;
}

.form-group {
  margin-top: 14px;
  margin-bottom: 14px;
}

.Auth-form-title {
  text-align: center;
  margin-bottom: 1em;
  font-size: 24px;
  color: rgb(34, 34, 34);
  font-weight: 800;
}

label {
  font-size: 14px;
  font-weight: 600;
  color: rgb(34, 34, 34);
}
